{% extends 'admin.twig' %}
{% block title %}出错了{% endblock %}
{% block AppContent %}
    <div class="wrapper-md">
        <div class="error-container">
            <div class="error-code">看到这个错误时,说明页面出现了问题!</div>
            <div class="error-text">错误原因:{{ error_message }}</div>
            <div class="error-subtext">{{ error_message_detail }}</div>
            <div class="error-actions">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-info btn-block btn-lg" onclick="document.location.href = 'index.html';">回到后台首页</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-block btn-lg" onclick="history.back();">上一页</button>
                    </div>
                </div>
            </div>
            <div class="error-subtext">获取您可以搜索您想要查看内容!</div>
            <div class="row">
                <div class="col-md-12">
                    <form class="search-form" action="view.system-search" method="get">
                        <div class="input-group">
                            <input type="text" placeholder="搜索您所关心的内容..." class="form-control">
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit"><em class="glyphicon glyphicon-search"></em></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
