<div class="data-table-paginate">
    <div class="col-xs-6">
        <div class="data-table-info">总计 {{ totalPage }} 页  共 {{ totalCount }} 条记录</div>
    </div>
    <div class="col-xs-6">
        {{ pageString|raw }}
    </div>
    <br class="clear">
</div>