{% extends 'layout.twig' %}
{% block title %}实地认证{% endblock %}
{% block member_content %}
    <div class="panel">
        <div class="panel-item">
            <div class="panel-body text-center">
                <img src="{{ cdn }}/error-identification.jpg" alt="">
            </div>
        </div>
    </div>
{% endblock %}